#example1 {
    
     padding:  150px; 
    background: url(../../../assets/images/home.jpg);
    background-repeat: no-repeat;
    background-size:  cover;
  
    background-position:center,  bottom;

  }

strong
  {
     color: #51be78;
     text-align: center;
      
  }
  
  .text{
      color: aliceblue;
     
       
  }