


  <div class="footer" >
    <div class="container">
      <div class="row">
         <div class="col-lg-8"> 
          <p class="mb-4"><img src="../../assets/images/logo.png" alt="Image" class="img-fluid"></p>
          <p>
            Facilitating the education process for students of a specific institution,
             following up with students remotely, and documenting students’
             projects for reference at any time.
            
          </p> 
           
          <footer style="text-align: center;">&copy; Copyright 2020 ELEARNING</footer>
        
        </div> 
     
         <div class="col-lg-2">
            <h3 class="footer-heading"><span>pages</span></h3>
            <ul class="list-unstyled">
              <li><a>Home</a></li>
              <li><a href="#">Courses</a></li>
              <li><a href="#">Project</a></li>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Branches</a></li>
                <li><a href="#">Tracks</a></li>
                <li><a href="#">Intakes</a></li>
            
            </ul>
        </div> 
        <!-- <div class="col-lg-3">
            <h3 class="footer-heading"><span>Contact</span></h3>
            <ul class="list-unstyled">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Connect</a></li>
           
            </ul>
        </div> -->
      </div>

      
    </div>
  </div>