<div>
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-12">
        <span>The Best</span>

        <h2 class="section-title-underline mb-3">
          <span>Top Popular Courses</span>

        </h2>

        <div class="top-popular-courses-area section-padding-100-70">
          <div class="container">

            <div class="row">

              <!-- Single Top Popular Course -->
              <div class="col-12 col-lg-6">
                <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp"
                  data-wow-delay="400ms">
                  <div class="popular-course-content">
                    <h5>Business for begginers</h5>
                    <span>By Ahmed Lotfy | March 18, 2020</span>
                    <div class="course-ratings">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    <p>Business courses for beginner to learn the fundamental of the topic .</p>
                    <a href="#" class="btn academy-btn btn-sm" [routerLink]="['/login']">See More</a>
                  </div>
                  <div class="popular-course-thumb bg-img"
                    style="background-image: url(../../../assets/images/pc-1.jpg);"></div>
                </div>
              </div>

              <!-- Single Top Popular Course -->
              <div class="col-12 col-lg-6">
                <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp"
                  data-wow-delay="500ms">
                  <div class="popular-course-content">
                    <h5>Advanced HTML5</h5>
                    <span>By Serage Mahmoud | March 18, 2020</span>
                    <div class="course-ratings">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star-o" aria-hidden="true"></i>

                    </div>
                    <p>Advanced html course to keep enhancing  yourself in the field to be more expert in the 
                      field .</p>
                    <a href="#" class="btn academy-btn btn-sm" [routerLink]="['/login']">See More</a>
                  </div>
                  <div class="popular-course-thumb bg-img"
                    style="background-image: url(../../../assets/images/pc-2.jpg);"></div>
                </div>
              </div>

              <!-- Single Top Popular Course -->
              <div class="col-12 col-lg-6">
                <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp"
                  data-wow-delay="600ms">
                  <div class="popular-course-content">
                    <h5>Marketing 101</h5>
                    <span>By Mariam Shaheed | March 18, 2020</span>
                    <div class="course-ratings">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    <p>Marketing courses to get knowledge in the business sales field.</p>
                    <a href="#" class="btn academy-btn btn-sm" [routerLink]="['/login']">See More</a>
                  </div>
                  <div class="popular-course-thumb bg-img"
                    style="background-image: url(../../../assets/images/pc-3.jpg);"></div>
                </div>
              </div>

              <!-- Single Top Popular Course -->
              <div class="col-12 col-lg-6">
                <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp"
                  data-wow-delay="700ms">
                  <div class="popular-course-content">
                    <h5>Node Js</h5>
                    <span>By Tasneem Ali | March 18, 2020</span>
                    <div class="course-ratings">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    <p>get knowledge in the field of backend using node js .</p>
                    <a href="#" class="btn academy-btn btn-sm" [routerLink]="['/login']">See More</a>
                  </div>
                  <div class="popular-course-thumb bg-img"
                    style="background-image: url(../../../assets/images/pc-4.jpg);"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

 





      