<div class="card text-white bg-secondary  mb-3" >
  <div class="card-body  text-center">
    <h3 class="card-title">my project</h3>
    <p class="card-text">so this</p>
    <div class="d-flex justify-content-between">

      <button class="btn btn-primary" (click)="OnClickDetails()">Details</button>
      <button class="btn btn-danger" (click)="OnClickDelete()"><span class="glyphicon glyphicon-trash">Delete</span></button>
      <!-- na2es ngif the user is owner -->
    </div>
   
  </div>
</div>